
body {
    padding-top: 0px;
    background-color: #000;
    font-family: 'Comfortaa', cursive;
    color: #fff;
    padding-bottom: 150px;
}
#myCarousel .nav a small {
    display:block;
    color: #fff;
}
#myCarousel .nav {
    background:#212121;
}
#myCarousel .nav a {
    border-radius:0px;
    color: #fff;
}
#myCarousel  .nav-pills > li. > a:hover,
.nav-pills > li. > a:focus {
    background-color: #727272 !important;
    color: #fff;
}

#myCarousel .nav-pills > li.active > a, .nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    background-color: #727272 !important;
    color: #fff;
}
/*
#myCarousel .nav a:hover {
    background-color: #afafaf;
    color: #000;
}
#myCarousel .nav a:hover small {
    color: #000;
}
#myCarousel .nav li.active a {
    background-color: #727272 !important;
    color: #fff;
}
#myCarousel .nav li.active a small {
    color: #fff;
}*/

.title img {
    margin: 20px 0 20px 0;
}
.gallery-row {
    margin-top:15px;
}

.gallery .col-md-6 {
    padding: 0 15px 0 15px;
}
.gallery .item img {
    max-height: 370px;
    margin: 0 auto;
}

h1{
    font-family: 'Wallpoet', cursive;
    font-size: 48px;
    padding-top: 0;
}
p {
    font-size: 18px;
}
h2 {
    font-family: 'Wallpoet', cursive;
}
#craft img {
    max-width: 250px;
}
#buy ul {
    list-style: none;
}
button {
    text-align: center;
}
